<!DOCTYPE html>
<html>
<head>
        <style>ul {
                list-style-type: none;
                margin: 0;
                padding: 0;
                overflow: hidden;
                background-color: #333;
              }
  
              li {
                float: left;
              }
              
              li a {
                display: block;
                color: white;
                text-align: center;
                padding: 14px 16px;
                text-decoration: none;
              }
              li a :active, li a:hover {
  background-color: #666;
  color: white;
}
             </style>
</head>
<body>
        <ul>
                <li><a class="active" href="/add_account">Create Account</a></li>
                <li><a href="/account_info">Account Info</a></li>
                <li><a href="/deposit">Deposit</a></li>
                <li><a href="/withdrawal">Withdrawal</a></li>
                <li><a href="/print_passbook">Print Passbook</a></li>
                <li><a href="/close_account">Close Account</a></li>
              </ul>
</body>
</html>



